.playlists {
    background-color: white;
    padding: 40px;
    margin: 20px 200px;
    padding-top: 0;
}
.table {
    margin-top: 30px;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    text-align: center;
}