.playlists {
    background-color: white;
}

.playlist-table {
    margin-top: -24px;
    margin-left: 100px;
    margin-right: 100px;
}
@media only screen and (max-width: 700px) {
    .playlist-table {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    text-align: center;
}
.ant-table-pagination.ant-pagination {
    padding-right: 15px;
    margin-top: 40px;
}
.ant-notification-notice-description {
    margin-top: -19px;
    margin-right: 5px;
}
body {
    background-color: white;
}